<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<header class = 'fix'> 
            <div class="nav">
                <a href="/store_items">Home</a>
                <a href="/users/about">About</a>
                <a href="/store_items/login_page">Login</a> 
                <a href="/users/new">Sign Up</a> 
            </div>
       
             <%= link_to image_tag("Froogle.png", class: "head_img"), "/store_items"%>

</header>
           
           
           <section id = 'top' class = "top">
            
           </section>

              <section id = 'middle' class = "middle">
                
            </section>

                


                
                 

        
          

                <footer>
                </footer>