<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<header class = 'fix'> 
            <div class="nav">
                <a href="/users">Home</a>
                <a href="/users/about">About</a>
                <a href="">Login</a> 
                <a href="/users/new">Sign Up</a> 
            </div>
       
             <%= link_to image_tag("Froogle.png", class: "head_img"), "/users"%>

</header>
           
           <section id = 'top' class = "top">
            
           </section>

              <section id = 'top' class = "middle">
            
            </section>



                
                 

        
          

                <footer>
                </footer>