<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <head>
        <title>About Froogle</title>
        
    </head>
        <header>
            <div class="nav">
                <a href="/users">Home</a>
                <a href="/store_items">Store</a>
                <a href="">Login</a> 
                <a href="/users/new">Sign Up</a> 
            </div>
       
        <%= link_to image_tag("Froogle.png", class: "head_img"), "/users"%>
            
        </header>
    <div class = 'black'></div>
    <section class = 'move'>
        <p class = 'center'>
            Our goal is to give the world <strong class = 'tough_3'>access</strong> to the best <strong class = 'tough'>deals</strong> out there.  We do this by brining the deals to you at the click of a button!  Why spend when you can <strong class = 'tough_2'>save</strong> with Froogle?
        </p>
    </section>

    <section class = 'move'>
    <%= image_tag("money.jpg", alt:"money", class: 'img_2') %>
        
    </section>
    
