<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <head>
        <title>About Froogle</title>
        
    </head>
       <header> <%= link_to image_tag("Froogle.png", class: "head_img"), "/users"%>
  </header>
    <div class = 'black'></div>
    <section class = 'move'>
        <p class = 'center'>
            Our goal is to give the world the best <strong class = 'tough'>deals</strong> out there.  Why spend when you can <strong class = 'tough_2'>save</strong> with Froogle?
        </p>
    </section>

    <section class = 'move'>
    <%= image_tag("money.jpg", alt:"money", class: 'img_2') %>
        
    </section>
    
