
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <Header>
            <nav class = 'left_nav'>
                <a href="">About</a> 
                <a href="">Store</a> 
            </nav>
            <nav class = "right_nav">
                <a href="">Sign Up</a> 
                <a href="">Login</a> 
            </nav>
        </Header>
<body>
        <section class ='section_1'>
            
            <%= image_tag("Froogle.png", alt:"logo", class: 'img_1') %>
        </section>

        <section class='section_2'>
            <input type="text" class='sb'>
     
        </section>
        <section class = 'gs'>
            <input type = 'submit' value="Froogle Search" class= 'buttons'>
            <input type='submit' value="$ Save Me Some $" class = 'buttons'>
        </section>
        <footer>
            <p>We're Google for the Froogle!<p>
                <nav class='bottom_nav'>
                    <a href="/html/">Hot Discounts</a> 
                    <a href="/css/">Coupons</a> 
                    <a href="/css/">About Froogle</a>
                </nav>
        </footer>
</body>