
.head_img{
    height: 40px;
    width: 125px;
    padding-bottom: 10px;
    float: none;
    
}
.black{
    background-color: lightslategrey;
    width: 100%;
    height: 1px;
    opacity: 0.75;
    margin-top: 45px;
    position: fixed;
}

.center{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    width: 600px;
    margin: 0 auto;
   
}


  
.tough{
    color: royalblue;
}
.tough_2{
    color: tomato;
}

.img_2{
   width: 500px;
  
    
    
}

.move{
    padding-top: 100px;
    text-align: center;
}

.menu {
    height: 25px;
    margin-top: 10px;
    margin-left: 15px;
    float:left;

    
}

.fix{
    position: fixed;
    background-color: white;
    width: 100%;
    top:0;
    right: 1px;
}

.nav{
   float: right;
   width: 250px;
   margin: 10px;
}

.w{
   float:right;
}



