/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .text_bar{
    border-radius: 20px;
    outline: none;
    border: solid gainsboro;
    border-width: 1.0px;
    width: 40%;
    height: 35px;
 } 
 .text_bar:hover, .text_bar:focus{
    border: 1.5px solid transparent;
  }

  .buttons_2:hover{
    background: rgba(0,0,0,0);
	color: black;
	box-shadow: black;
    cursor: pointer;
    border: 0.6px solid gray;
    
}
.buttons_2{
    color:  gray;
   border: whitesmoke;
    background-color: whitesmoke;
    outline: none;
    width: 120px;
    height: 40px;
    font-family: arial,sans-serif;
   margin-bottom: 40px;
   text-align: center;
}

.move_2{
    padding-top: 100px;
    background-color: gray;
    margin-top: 75px;
    border-radius: 100px;
    color: whitesmoke;
    position: relative;
    
}



.decor{
    color:whitesmoke;
    font-size: 30px;
}



.decor{
  position: relative;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 9px;
  overflow: hidden;
  background-size: 80%;
  left: 20px;
}

.link_dec{
    color: whitesmoke;
     
}