

.top {
    background-size: 100% 90%;
    max-width: 1025px;
    min-width: 700px;
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    background-position: center bottom;
    height: 400px;
    animation-name: backgroundFade;
    animation-duration:  12s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    text-align: center;
    margin: 10%;
    margin-bottom: 0%;
}

@keyframes backgroundFade {
    
    0% {
        background-image: url('fs.png');
        
    }

    10% {
        background-image: url('fs.png');
        
    }

    20% {
        background-image: url('fs.png');
        
    }


    30% {
        background-image: url('fs.png');
        
    }

    40% {
        background-image: url('fs.png');
        
    }

    50% {
        background-image: url('fs.png');
        
    }

    60% {
        background-image: url('ybox.png');
        
    }

    70% {
        background-image: url('ybox.png');
    }

    80% {
        background-image: url('ybox.png');
    }

    90% {
        background-image: url('ybox.png');
    }

    100% {
        background-image: url('ybox.png');
    }
   
}

.item_pic_1{
    height: 100px;
    float: left;
    clear: right;
}

.name_1{
float: left;
clear: right;
}

.item_pic_box_1{
float: left;
clear: right;
}

.price_1{
float: left;
clear: right;
}

.item_pic_2{
    height: 100px;
    float: right;
    clear:left;
}

.name_2{
float: right;
clear:left;
}

.item_pic_box_2{
float: right;
clear:left;
}

.price_2{
float: right;
clear:left;
}

.middle{
    
    background-size: 100%;
    max-width: 1025px;
    min-width: 700px;
    text-align:  center;
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    background-position: center top;
    height: 300px;
    animation-name: backgroundFade_2;
    animation-duration:  10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    display: inline;
    float: left;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}



@keyframes backgroundFade_2 {
    
    0% {
        background-image: url('Froogle.png');
        
    }

    10% {
        background-image: url('Froogle.png');
        
    }

    20% {
        background-image: url('Froogle.png');
        
    }


    30% {
        background-image: url('Froogle.png');
        
    }

    40% {
        background-image: url('Froogle.png');
        
    }

    50% {
        background-image: url('camp.png');
        
    }

    60% {
        background-image: url('camp.png');
        
    }

    70% {
        background-image: url('camp.png');
    }

    80% {
        background-image: url('camp.png');
    }

    90% {
        background-image: url('camp.png');
    }

    100% {
        background-image: url('camp.png');
    }
}







